@font-face {
  font-family: 'SofiaPro';
  font-weight: 300;
  src: url('/src/assets/fonts/351114_1_0.woff2') format('woff2'),
    url('/src/assets/fonts/351114_1_0.woff') format('woff'),
    url('/src/assets/fonts/351114_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'SofiaPro';
  font-weight: 700;
  src: url('/src/assets/fonts/351114_0_0.woff2') format('woff2'),
    url('/src/assets/fonts/351114_0_0.woff') format('woff'),
    url('/src/assets/fonts/351114_0_0.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;